* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
    line-height: 1.9;
}

#container {
    background-image: url('https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#container h1 {
    font-size: 50px;
    line-height: 1.2;
}

#container p {
    font-size: 20px;
}

#container .button {
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#container .button:hover {
    background: black;
    color: blanchedalmond;
}